<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SampleTestSuite">
    <test name="SampleTest" preserve-order="true" thread-count="5">
        <!--packages> <package name="tests" /> </packages -->
        <classes>
            <!--
            <class name="com.arnab.testng.tests.KkPlayerAppTest">
                <methods>
                    <include name="openAppTest" />
                    <include name="waitForSplashAnimationTest" />
                    <include name="downloadSongTest" />
                    <include name="playSongTest" />
                    <include name="scrollSongsListTest" />
                </methods>
            </class>
            -->

            <!--
            <class name="com.arnab.testng.tests.HasnabadLocalAppTest">
                <methods>
                    <include name="openAppTest" />
                    <include name="waitForSplashAnimationTest" />
                    <include name="openMenuTest" />
                    <include name="swipeLeftRightTest" />
                    <include name="openTrainLiveLocationTest" />
                </methods>
            </class>
            -->

            <class name="com.arnab.testng.tests.CarScoreAppTest">
                <methods>
                    <include name="openAppTest" />
                    <!--<include name="loginTest" />-->
                    <include name="dealershipDisplayedTest" />
                    <include name="openDealershipTest" />
                    <include name="createReportTest" />
                    <include name="createReportTestAfterEngineVideoStep" />
                </methods>
            </class>

        </classes>
    </test>
</suite>
